<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
			 <header>
       <div class="header">

           <!-- logo -->
           <div class="container-hero">
            <div class="container hero">
                <div class="container-logo">
                    <h1 class="logo"><a href="index.html"><img src="/src/assets/imagenes/img-3.png" alt="" ></a></h1>
                </div>
                
              
                
                <!-- navbar -->
                <nav class="normal">
                        <div class="menu">
                            
                        <ul class="ul_links">                                            
                            <li class="li_links">
                            <a href="#section-products" class="link">Delivey</a>
                        </li >
                        
                        <li class="li_links">
                            <a href="#" class="link">Ubicacion</a>
                        </li>
                        
                        <li class="li_links">
                            <a href="#pedido-tortas" class="link">Horarios</a>
                        </li>
                    </ul>
                </div>
                
            </nav>
            
        
            <!-- carrito -->
            <section class="carro">                                                       
                <div class="cart-icon">
                    <img src="/src/assets/imagenes/cart-icon.svg" alt="Carrito de compras" width="24" height="24" />
                    <span id="cart-count">0</span>
                </div>
                </section>
                </div>
            </div>
                
                
                
                
            </div> 
            </header>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
