---
import { Icon } from 'astro-icon/components';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
			 <header class="header">

           <!-- logo -->
            <div class="container-hero">
                <div class="container-logo">
                    <h1 class="logo"><a href="index.html"><img src="/src/assets/imagenes/img-3.png" alt=""></a></h1>
                </div>
                
              
                
                <!-- navbar -->
                <nav class="navbar">
                        <div class="menu">
                            
                        <ul class="ul_links">                                            
                            <li class="li_links">
                            <a href="#delivery" class="link">Delivey</a>
                        </li >
                        
                        <li class="li_links">
                            <a href="#horarios" class="link">Horarios</a>
                        </li>
                        
                        <li class="li_links">
                            <a href="#ubicacion" class="link">Ubicacion</a>
                        </li>
                    </ul>
                </div>
                
            </nav>
            
        
            <!-- carrito -->
                <div class="cart-and-phone">                                                       
                    <div class="cart-icon">
                        <Icon name="mdi:cart" />
                    </div>
                        <div class="numero-telefono">
                            <p>+58 424-3333333</p>
                        </div>
                    </div>
                </div>
            </div>
            </header>
		<slot />
	</body>
</html>

<style>
	a{
        text-decoration: none;
        color: var(--text--color);
         padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .header {
        padding: 0 50px;
        background-image: url('/src/assets/imagenes/fondo.png') ;
        background-size: cover;
        position: sticky;
        top: 0;
        z-index: 1000;
        
    }

    .container-hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-logo img {
        height: 64px;
        border-radius: 50%;
    }

    .navbar ul {
        display: flex;
        gap: 70px;
    }

    .navbar a {
        font-weight: 100;
        transition: color 0.3 ease;
    }

    .navbar a:hover {
        color: var(--yellow-accent);
    }

    .cart-and-phone {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 100;
    }

    .cart-icon {
        font-size: 1.5em;
    }
</style>
